body {
    font-family: Source Sans Pro;
    font-weight: 400;
    color: #333333;
    width: 600px;
}
h1 {
    text-shadow: #6A6A6A 1px -2px;
    font-weight: 700;
    font-size: 50px
}
.logoandtext img {
    float: left;
}