body {
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: white;
    text-decoration: none;
}

.header {
    background-color: #234465;
    padding: 8px 32px;
    height: 32px;
}

.header__logo {
    display: inline-block;
    vertical-align: middle;
}

.header__links {
    display: inline-block;
    margin-left: 80px;
    font-size: 0px;
    vertical-align: middle;
}

.links__item {
    display: inline-block;
    font-size: 16px;
}

.links__item:not(:last-child) {
    margin-right: 12px;
}
