html {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, serif;  
}

ul {
    list-style: square;
}

ul ul {
    list-style: disc;
}

ul ul ul {
    list-style: circle;
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

table thead {
    background-color: lightgray;
    text-align: left; 
}

table th,table td {
    border: 1px solid lightgray;
}

table tbody tr:nth-child(odd){
    background-color: rgb(240, 238, 238);
}

blockquote {
    border-left: rgb(221,221,221);
    font-style: italic;
}

blockquote p.author {
    text-align: right;
}

