@media (max-width: 600px) {
    header nav {
        flex-direction: column;
    }

    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px;
    }

    header nav ul li {
        padding: 2px 0;
    }

    .header-title {
        padding: 1em 0;
    }

    .header-title h1 {
        font-size: 36px;
    }

    .header-title p {
        font-size: 16px;
    }

    h3 {
        font-size: 18px;
    }

    .blog-section p:nth-child(2),
    .team-description p:nth-child(2),
    .about-us p:nth-child(2),
    .about-us p:nth-child(3) {
        font-size: 12px;
    }

    .team-description-wrapper,
    .about-us {
        padding: 1.5rem 0;
    }

    .team-description ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 35px;
    }

    .team-description ul li img {
        width: 200px;
        height: 200px;
    }

    .team-description ul li > p:nth-child(3) {
        font-size: 12px;
    }

    .choose-us ul {
        flex-direction: column;
    }

    .choose-us li {
        width: 50%;
        margin: 0 auto;
    }

    .choose-us li img {
        width: 6rem;
        height: 6rem;
    }

    .choose-us li h4 {
        font-size: 16px;
    }

    .choose-us li p {
        font-size: 12px;
    }

    .blog-news ul {
        flex-direction: column;
    }

    .blog-news ul .item {
        width: 80%;
        margin: 12px auto;
    }
}