.lorem {
    font-size: 21px;
    color: red;
}

.undorder>.ul-item lorem {
    color: aliceblue;
}

p {
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font-weight: bold;
    font-style: italic;
    font-variant: small-caps;
    line-height: 10px;
    text-overflow: ellipsis;
    text-transform: capitalize;
    
}