/* Styling the Body element i.e. Color,
		Font, Alignment */
body {
    background-color: #05c46b;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Styling the Form (Color, Padding, Shadow) */

form {
    background-color: white;
    max-width: 500px;
    padding-top: 30px 20px;
    margin: 50px auto;
    /* box-sizing: content-box; */
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}

input {
    line-height: 32px;
    width: 100%;
    margin-bottom: 24px;
    margin-top: 12px;
    float: left;
}

label {
    float: left;
}

button {
    line-height: 20px;
    background-color: #05c46b;
    border: 1px solid gray;
}