body {
    font-family: Arial, Helvetica, sans-serif;
    /* font-size: 0px; */
    background-color: rgb(191, 245, 191);
    text-align: center;
    margin: 25%;
}

.idol__name {
    font-size: 64px;
    font-weight: bold;
    padding: 64px;
    color: #90ee90;
    text-shadow: #6A6A6A 1px -2px;
}

.idol__img {
    width: 100%;
    display: inline-block;
    padding-right: 16px;
    box-sizing: border-box;
}

.idol__resume {
    padding-top: calc((380px - 240px)/2);
    font-size: 24px;
    display: inline-block;
    text-align: justify;
    width: 380px;
    height: 240px;
}

h2 {
    font-size: 32px;
    font-weight: bold;
    padding: 20px;
    text-decoration: underline;
    color:#6A6A6A;
}

.container {
    box-shadow: 20px 20px 20px  rgb(239, 240, 169);
    font-size: 28px;
    background-color:  #90ee90;
}

.container__characteristic:not(:last-child) {
    padding-bottom: 20px;
}

i {
    padding-right: 12px;
}

footer {
    padding-top: 24px;
    font-size: 16px;
    text-align: center;
}