@font-face {
    font-family: 'Mulish', sans-serif;
    src: url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");
}

body {
    font-family: 'Mulish', sans-serif;
    font-size: 0;
    position: relative;
}

form {
    position: absolute;
    display: flex;
    font-size: 16px;
    align-items: center;
    width: 50%;
    object-fit: cover;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    
}

.registration {
    width: 50%;
    position: absolute;
    padding: 50px;
    border-radius: 20px;
}

form .img {
    border-radius: 24px;
}

form .registration h1 {
    text-align: center;
}

form .registration .registration__input {
    border-radius: 16px;
}

button {
    background-color: hsl(4deg 55% 44%);
    color: white;
    text-transform: uppercase;
    line-height: 12px;
    padding: 12px 24px;
    border-radius: 20px;
    border: 1px solid;
    text-align: center;
    margin-top: 24px;
}
