@font-face {
    font-family: 'Mulish', sans-serif;
    src: url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");
}

body {
    font-family: 'Mulish', sans-serif;
    background-image: url(images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 0;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-behavior: smooth;
    width: 100vw;
    height: 100vh;
}

.container {
    background-image: url(images/form-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    width: 85%;
    border-radius: 20px;
    padding: 5%;
    font-size: 16px;
    overflow: hidden;
}

.container .registration__input {
    border: 1px solid gray;
    border-radius: 20px;
}

button {
    background-color: hsl(4deg 55% 44%);
    color: white;
    line-height: 12px;
    padding: 12px 24px;
    border-radius: 20px;
    border: 1px solid;
    text-align: center;
    margin-top: 24px;
}

form .registration h1 {
    text-align: center;
}


.container .registration .name label,
.container .registration .name input {
    display: flex;
    flex-direction: column;
    background-color: aqua;
    width: 25%;
}




