body {
    background-color: lightgray;
    padding: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    margin-bottom: 24px;
}

/* Card component */

.card {
    width: 360px;
    border: 2px solid black;
    border-radius: 6px;
    overflow: hidden;
    background-color: white;
    padding: 0px;
}
/* 
.thumbnail {
    width: 320px;
    height: 320px;
    background-color: red;
    background-image: url(https://images.unsplash.com/photo-1674757621246-ab7bcaba8bcf?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);
    background-size: cover;
    background-position: center;
} */

.thumbnail__img {
    width: 360px;
    height: 420px;
    /* object-fit: cover; */
}

.content {
    padding: 12px 22px;
    text-align: center;
}

.content__title {
    font-size: 21px;
    margin-bottom: 6px;
}

.content__badge {
    display: inline-block;
    padding: 4px 16px;
    border-radius: 16px;
    margin-bottom: 24px;
    background-color: rgb(255, 255, 179);
    color: rgb(235, 187, 54);
}

.content__section-tittle {
    text-align: left;
    font-size: 14px;
    margin-bottom: 6px;
    color: gray;
}

ul.content__projects {
    border: 1px solid gray;
    border-radius: 6px;
    padding: 6px;
    text-align: left;
    font-size: 0px;
}

.project {
    background-color: lightgrey;
    display: inline-block;
    border-radius: 4px;
    padding: 2px 6px; 
    margin-right: 4px;
    font-size: 16px;
}

.project:not(:last-child) {
    margin-right: 4px;
}

.project:first-child {
    margin-bottom: 4px;
}

